---
http_interactions:
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=7jvzg223pxhz55thnq29n62c&limit=10&page=1&q=lord%20of%20the%20rings
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/javascript;charset=ISO-8859-1
      X-Mashery-Responder:
      - prod-j-worker-us-east-1c-34.mashery.com
    body:
      encoding: US-ASCII
      string: ! '
































        {"total":15,"movies":[{"id":"10156","title":"The Lord of the Rings: The Return
        of the King","year":2003,"mpaa_rating":"PG-13","runtime":201,"critics_consensus":"Visually
        breathtaking and emotionally powerful,  The Lord of the Rings - The Return
        of the King is a moving and satisfying conclusion to a great trilogy.","release_dates":{"theater":"2003-12-17","dvd":"2004-05-25"},"ratings":{"critics_rating":"Certified
        Fresh","critics_score":94,"audience_rating":"Upright","audience_score":86},"synopsis":"","posters":{"thumbnail":"http://content9.flixster.com/movie/11/16/64/11166423_mob.jpg","profile":"http://content9.flixster.com/movie/11/16/64/11166423_pro.jpg","detailed":"http://content9.flixster.com/movie/11/16/64/11166423_det.jpg","original":"http://content9.flixster.com/movie/11/16/64/11166423_ori.jpg"},"abridged_cast":[{"name":"Elijah
        Wood","id":"162652512","characters":["Frodo Baggins"]},{"name":"Ian McKellen","id":"162653241","characters":["Gandalf"]},{"name":"Viggo
        Mortensen","id":"162654541","characters":["Aragorn"]},{"name":"Sean Astin","id":"162659177","characters":["Samwise
        Gamgee"]},{"name":"Orlando Bloom","id":"162652240","characters":["Legolas"]}],"alternate_ids":{"imdb":"0167260"},"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156.json","alternate":"http://www.rottentomatoes.com/m/the_lord_of_the_rings_the_return_of_the_king/","cast":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156/cast.json","clips":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156/clips.json","reviews":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156/reviews.json","similar":"http://api.rottentomatoes.com/api/public/v1.0/movies/10156/similar.json"}},{"id":"11649","title":"The
        Lord of the Rings","year":1978,"mpaa_rating":"PG","runtime":132,"release_dates":{"theater":"1978-11-15","dvd":"2001-09-11"},"ratings":{"critics_rating":"Rotten","critics_score":48,"audience_rating":"Upright","audience_score":65},"synopsis":"","posters":{"thumbnail":"http://content7.flixster.com/movie/11/15/29/11152973_mob.jpg","profile":"http://content7.flixster.com/movie/11/15/29/11152[...]
